- var n = 0;
ul
  h1 ALL BLOG
  while n < data.posts.length-1
    li= "BLOG " + n++ 
    a= "Title : "+data.posts[n].title  
    a= "Content : "+data.posts[n].content
  br
  a(href='/') Back

    

    

